.player {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.time-control{
    width: 90%;
    display: flex;
        input{
            width: 100%;
            padding: 1rem 0;
            // -webkit-appearance: none;
            background: transparent;
            cursor: pointer;
        }

        p{
            padding: 1rem;
        }
        input[type="range"]:focus{
            outline: none;
        }

        input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 16px;
            width: 16px;
            background: black;
        }
}

.play-control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 50%;

    svg{
        cursor: pointer;
    }
}

@media only screen and (max-width: 765px) {
    .time-control{
        input{
            margin: 0px 6px 0px 6px;
        }
        p{
            font-size: small;
            font-weight: bold;
            align-items: center;
            text-align: center;
            display: flex;
            padding: 0px;
        }
    }
    
    .play-control{
        
        svg{
            font-size:large
        }
    }

}